src/PruebaTecnicaDB/PruebaTecnicaDB.ApplicationWeb/Connected Services/UsuarioService/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55968/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55968/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55968/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaTecnicaDB.BLL.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_ListaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ListaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuarioPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuarioPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="ListaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ListaUsuario" message="tns:IUsuarioService_ListaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ListaUsuarioResponse" message="tns:IUsuarioService_ListaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuarioPorId" message="tns:IUsuarioService_ObtenerUsuarioPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuarioPorIdResponse" message="tns:IUsuarioService_ObtenerUsuarioPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuario" message="tns:IUsuarioService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuarioResponse" message="tns:IUsuarioService_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/EditarUsuario" message="tns:IUsuarioService_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/EditarUsuarioResponse" message="tns:IUsuarioService_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuario" message="tns:IUsuarioService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuarioResponse" message="tns:IUsuarioService_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ListaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ObtenerUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:55968/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>